body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: rgb(72, 88, 255);
    border-color: rgb(72, 88, 255);
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn-primary:hover {
    background-color: rgb(60, 70, 210);
    border-color: rgb(60, 70, 210);
}

.text-danger {
    color: #e03e00;
}

.alert-danger {
    color: #e03e00;
}